body {
    background-color: goldenrod;
}
main {
margin: 30px auto;
width: 800px;
}

main h1 {
    color: crimson;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    margin: auto;
    background-color: burlywood;
    text-shadow: 7px 7px 7px red;
    border: 5px dashed saddlebrown;
}

main p {
    color: rgb(143, 43, 3);
    text-align: center;
    margin:auto ;
    font-size: x-large;
    background-color: darkgray;
    padding: 15px;
    text-shadow: 7px 7px 7px rgb(180, 100, 100);
    border: 3px solid sienna;
}

footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}

nav h2 {
    font-size: x-large;
    font-family: sans-serif;
}
nav h3 {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

nav ol {
    padding: 4px;
    margin: 4px;
    font-size: 25px;
    background-color: rgb(40, 150, 88);
    list-style: upper-alpha;
}
nav ol li {
    margin: 4px;
    color: black;
    font-size: 18px;

}
nav ul {
    padding: 4px;
    margin: 4px;
    font-size: 20px;
    background-color: rgb(88, 44, 129);
    list-style: inside;
}
 nav ul li {
     padding: 4px;
     margin: 4px;
     color: rgb(14, 194, 194);
     font-size: 15px;
 }
